<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div align="center">
    <table border="1">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>active</th>
        </tr>
        <tr th:each="projectDto:${projectList}">
            <td th:utext="${projectDto.id}">id</td>
            <td th:utext="${projectDto.title}">title</td>
            <td><a th:href="@{'/projects/'+${projectDto.getId()}}">look project</a></td>
        </tr>
    </table>
</div>
</body>
</html>